:root{
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%),hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --cardBG: rgb(246, 245, 252);
    --cardHover:rgb(255, 255, 255);

    

.main{
    input[type=file]{
        cursor: pointer !important;
        
    }
   .Roudtrip{
    font-size: 15px;
   } 
   .One_way{
    font-size: 15px;
    padding: 1rem;
    
   }

    .input{
        height: 40px;
        padding: 0 1rem;
        background: var(--inputColor);
        border-radius: 3rem;
        
        input{
            background: none;
            border: none;
            outline: none;
            width: 100%;
            font-size: 25px;
            font-weight: 600;
            &::placeholder{
                font-size: 16px;
            }
        }

        .icon{
            font-size: 18px;
            color: var(--PrimaryColor) !important;
            margin-left: 10px;
        }


        input[type=range]{
            background: blue;
        }
        
    }    
   
     

    .header{
        
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: none;
        width: 30%;
        height: var(--headerHeight);
        z-index: 1000;
        padding: 2rem;
        
        

        .addBar{
            background: var(--whiteColor);
            position: absolute;
            height:fit-content;
            width: 100%;
            border-radius: 1rem;
            padding: 2rem;
            top: -3000%;
            left: 150%;
            transform: translate(-50%);
            z-index: 2000;
            box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
            transition: .3s ease-in-out;

            .addLists{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                align-items: center;
                margin: auto;
                padding: .5rem 0; //on the wide screen padding should be :0 1rem\
                .addItem{
                    padding: .5rem 0;
                }
                .btn{
                    margin-top: 1rem; //on the wide screen margin-left should be 1rem

                    a{
                        font-weight: 600;
                        color: var(--whiteColor);
                    }
                }
            }
            .closeaddbar{
                position: absolute;
                top: 1rem;
                right: 1.5rem;
                color: var(--PrimaryColor);
                &:hover .icon{
                    color: var(--SecondaryColor);
                }
            }    
        }
        .activeaddbar{
            top: -10rem;
        }


    }
    
    .btn{
        margin-top: 5rem;
        color: var(--whiteColor);
        font-weight: 1000;
        font-size: medium;
        margin: 5px;
        .icon{
            align-self: center;
            font-size: 25px;
        }
    }

    width: 100%;
  .secTitle{
     .title{
        position: relative;
        width: max-content;
        color: var(--textColor);
        margin: 2rem 0;
        z-index: 2;
        &::after{
            position: absolute;
            content: '';
            background: var(--SecondaryColor);
            height: 5px;
            width: 120px;
           right: 0;
           bottom: 5px;
           z-index: -1;
        }
     }
  }

  .secContent{
    justify-content: center;
    gap: 1.5rem;

    

    .singleDestination{
        height: 100%;
        display: grid;
        row-gap: 10px;
        border-radius: 10px;
        align-items: center;
        background: var(--cardBG);
        box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
        overflow: hidden;
        transition: .3s ease;
        &:hover{
            background: var(--cardHover);
            box-shadow: 1px 4px 4px rgba(85, 85, 114, 0.549);
            transition: .3s ease;

        }

        .imageDiv{
            height: 180px; //at a wider screen width  will be 200px
            width: 100%;
            overflow: hidden;
  
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: 2s ease;
            }

            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }

        .cardInfo{
            padding: 1rem;
           
            .destTitle{
                color: var(--blackColor);
                font-size: 1.25rem;
            }

            .continent{
                gap: .5rem;
                .icon{
                    color: var(--textColor);
                    font-size: 18px;
                }

                .name{
                    color: var(--textColor);
                    font-weight: 400;
                    font-size: 14px;
                }
            }

            .fees{
                width: 100%;
                justify-content: space-between;
                padding: 1rem;
                margin: 1rem 0;
                border-top: 1.5px solid var(--greyText);
                border-bottom: 1.5px solid var(--greyText);

                .grade{
                  color:  var(--blackColor);
                  font-weight: 500;
                  font-size: large;
                  max-width: 500px;
                  line-height: 20px;
                  display: flex;
                  justify-content: space-between;
                  gap: 20px;
                  align-items: center;
                  justify-content: center;

                .textD{
                    font-weight: 1000;
                    color: var(--PrimaryColor);
                    font-size: 18px;   
                }
                }
            }
            .price{
                font-size: 40px;
                color: var(--blackColor);
            }

            .desc{
                font-size: 20.5px;
                color: var(--textColor);
                font-weight: 500;
            }

            .btn{
                margin-top: 1rem;
                color: var(--whiteColor);
                font-weight: 600;
                justify-content: space-between;
                gap: 0.5px;
                display: inline-block;
                margin: 5px;
                .icon{
                    align-self: center;
                    font-size: 18px;

                }
            }
        }


    }
}
}
}

@media screen and (min-width: 500px){

    .title{
        font-size: 1.5rem;
        &::after{
           width: 155px !important;
        }
    }
    .secContent{
        grid-template-columns: repeat(2, 1fr);

        .singleDestination{
            height: auto;
        }
    }
}

@media screen and (min-width: 840px){
    .secContent{
        grid-template-columns: repeat(3, 1fr);

        .singleDestination{
            height: auto;
        }
    }
}